################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DirectoryUtilitiesTest/bin/Debug/TestFiles/FileHashingTest
/DirectoryUtilities/bin
/FileMatcher/bin
/FileMatcherController/bin
/RegexHelper/bin
/RegexHelperTest/bin